.highlights {
  margin-right: 1rem;
  height: 100%;
  padding: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #3054b7ca;
  border-radius: 16px;
}
@media (prefers-color-scheme: dark) {
  .highlights {
    background-color: #3a4957cc;
  }
}

.highlights h2 {
  margin-bottom: 1rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
}
@media screen and (max-width: 550px) {
  .highlights {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
