.highlight {
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  padding: 0.5rem 0;
}

.highlight:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.highlight img {
  margin: auto;
  height: 80px;
  contain: content;
}
