.forecast {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 1rem;
}

.detail {
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .forecast {
    display: flex;
    flex-direction: column;
  }
}
