.search h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.search .form {
  max-width: 360px;
  display: flex;
  gap: 1rem;
  position: relative;
}

.form .list {
  position: absolute;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  width: 225px;
  top: 50px;
}

.list button {
  width: 100%;
  padding: 0.4rem 0.7rem;
  text-align: left;
  z-index: 101;
}
@media screen and (max-width: 400px) {
  .search .form {
    gap: 0.4rem;
  }
  .form input {
    width: 150px;
  }
  .form button {
    padding: 0 10px;
  }
}
