.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.form-section {
  margin-top: 2rem;
  z-index: 100;
}

.forecast-section {
  margin-top: 1rem;
  width: 100%;
}

.loading {
  font-size: larger;
  text-align: center;
  margin-top: 5rem;
}
