@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
:root {
  --background-body: #f6f6f8;
  --background: #ffffff;
  --text-main: #363636;
  --text-bright: #000;
  --focus: #0096bfab;
  --button-base: #d0cfcf;
  --button-hover: #9b9b9b;
  --form-text: #1d1d1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #202b38;
    --background: #161f27;
    --text-main: #dbdbdb;
    --text-bright: #fff;
    --focus: #0096bfab;
    --button-base: #0c151c;
    --button-hover: #040a0f;
    --form-text: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.4;
  max-width: 800px;
  margin: 30px auto;
  padding: 0 10px;
  color: #363636;
  color: var(--text-main);
  background: #fff;
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-body);
    color: var(--text-main);
  }
}

input {
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  input {
    background-color: var(--background);
    color: var(--form-text);
  }
}

button {
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: var(--button-base);
    color: var(--form-text);
  }
}

button:hover {
  background: #9b9b9b;
  background: var(--button-hover);
}

input[type="button"]:hover {
  background: #9b9b9b;
  background: var(--button-hover);
}

input:focus {
  box-shadow: 0 0 0 2px #0096bfab;
  box-shadow: 0 0 0 2px var(--focus);
}

button:focus {
  box-shadow: 0 0 0 2px #0096bfab;
  box-shadow: 0 0 0 2px var(--focus);
}

input[type="checkbox"]:active,
input[type="radio"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="range"]:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
