.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details .description {
  text-transform: capitalize;
  font-style: italic;
}

.details .temp {
  display: flex;
  flex-direction: column;
}
.temp .mainTemp {
  font-size: 4rem;
}
.mainTemp sup {
  font-size: 2rem;
  font-style: oblique;
  font-weight: 400;
}

.temp .boundaries {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.details .btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.btn button {
  margin: 0;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
}
